---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft-java
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      minecraft:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/itzg/minecraft-server
              tag: 2025.10.5@sha256:0062e45ec8aa8bdbeeb6b4ad0e15df804c4525f0e208b66d899ab677230ee0e9
            envFrom:
              - configMapRef:
                  name: minecraft-java-env
            resources:
              requests:
                cpu: 2
                memory: 4Gi
              limits:
                memory: 6Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: minecraft
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.0.30.36"
        ports:
          minecraft-java:
            port: 25565
            targetPort: 25565
            protocol: TCP

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /data
      whitelist:
        type: configMap
        name: minecraft-java-whitelist
        globalMounts:
          - path: /data/whitelist.json
            subPath: whitelist.json
            readOnly: true
      operators:
        type: configMap
        name: minecraft-java-operators
        globalMounts:
          - path: /data/ops.json
            subPath: ops.json
            readOnly: true
      modrinth-projects:
        type: configMap
        name: minecraft-java-modrinth-projects
        globalMounts:
          - path: /data/modrinth-projects.txt
            subPath: modrinth-projects.txt
            readOnly: true
