home-kubernetes-fleetcom-node1.yaml
home-kubernetes-fleetcom-node2.yaml
home-kubernetes-fleetcom-node3.yaml
home-kubernetes-fleetcom-node4.yaml
home-kubernetes-fleetcom-node5.yaml
home-kubernetes-fleetcom-node6.yaml
play-kubernetes-banished-node1.yaml
talosconfig
