---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
configMapGenerator:
  - name: jellyfin-config
    files:
      - encoding.xml=./resources/encoding.xml
generatorOptions:
  disableNameSuffixHash: true
