---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: homeylab/tdarr-exporter
      tag: latest
    
    settings:
      config:
        url: http://tdarr.default.svc.cluster.local:8265
        verify_ssl: false

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
        scrapeTimeout: 10s

    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 256Mi
