---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
configMapGenerator:
  - name: esphome-device-configs
    namespace: apps
    files:
      - demo-01.yaml=./resources/demo-01.yaml
generatorOptions:
  disableNameSuffixHash: true
