[env]
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/talosconfig"
K9S_CONFIG_DIR = "{{config_root}}/resources/k9s"
KUBE_EDITOR = "nano"

[tools]
node = "latest"
# Operations tools
"aqua:charmbracelet/gum" = "0.17.0"
"aqua:cilium/cilium-cli" = "0.18.8"
"aqua:cloudflare/cloudflared" = "2025.11.1"
"aqua:fluxcd/flux2" = "2.7.3"
"aqua:helm/helm" = "3.19.1"
"aqua:helmfile/helmfile" = "1.1.9"
"aqua:casey/just" = "1.43.0"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes-sigs/kustomize" = "5.7.1"
"aqua:kubernetes/kubectl" = "1.34.1"
"aqua:mikefarah/yq" = "4.48.1"
"aqua:siderolabs/talos" = "1.11.5"
"aqua:yannh/kubeconform" = "0.7.0"
"aqua:derailed/k9s" = "0.50.16"
"aqua:sst/opencode" = "1.0.55"
"aqua:stern/stern" = "1.33.1"
"aqua:hidetatz/kubecolor" = "0.0.25"
"npm:@github/copilot" = "0.0.354"
"npm:@google/gemini-cli" = "0.13.0"
