[env]
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/talosconfig"
K9S_CONFIG_DIR = "{{config_root}}/resources/k9s"
KUBE_EDITOR = "nano"

[tools]
node = "latest"
# Operations tools
python = "3.14.3"
"aqua:charmbracelet/gum" = "0.17.0"
"aqua:cilium/cilium-cli" = "0.19.1"
"aqua:cloudflare/cloudflared" = "2026.2.0"
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:helm/helm" = "4.1.1"
"aqua:helmfile/helmfile" = "1.2.3"
"aqua:casey/just" = "1.46.0"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes-sigs/kustomize" = "5.8.0"
"aqua:kubernetes/kubectl" = "1.35.0"
"aqua:mikefarah/yq" = "4.52.2"
"aqua:siderolabs/talos" = "1.12.4"
"aqua:yannh/kubeconform" = "0.7.0"
"aqua:derailed/k9s" = "0.50.18"
"aqua:stern/stern" = "1.33.1"
"aqua:hidetatz/kubecolor" = "0.0.25"
"npm:@github/copilot" = "0.0.409"
"npm:@google/gemini-cli" = "0.28.2"
"npm:wrangler" = "4.65.0"
