substitutions:
  node_name: "holiday-lights-main"
  friendly_name: "Holiday Lights Power"
  static_ip: "10.0.20.124"
  update_interval: 60s

packages:
  device_base: !include packages/base_diagnostics.yaml
  network_base: !include packages/common_wifi.yaml
  power_logic: !include packages/base_pow_r2.yaml

esp8266:
  board: esp01_1m

esphome:
  name: ${node_name}
  comment: "Sonoff POW R2 | IP: ${static_ip} | ${friendly_name}"
  on_boot:
    priority: -10
    then:
      - text_sensor.template.publish:
          id: esphome_version_sensor
          state: !lambda 'return ESPHOME_VERSION;'

wifi:
  use_address: ${static_ip}

switch:
  - platform: gpio
    pin: GPIO12
    name: "Main Power"
    id: pow_relay
    icon: "mdi:lightning-bolt"
    restore_mode: ALWAYS_OFF # Safety protocol
