---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vert
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      it-tools:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/vert-sh/vert
              tag: latest
            env:
              TZ: "America/New_York"
            resources:
              requests:
                cpu: 1
                memory: 2Gi
              limits:
                memory: 4Gi
    service:
      app:
        ports:
          http:
            port: 3000

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: external
        hostnames:
          - "{{ .Release.Name }}.unscfleet.com"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
