---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
spec:
  data:
    - remoteRef:
        key: Postgres-Super-User
      secretKey: POSTGRES_SUPER_USER
    - remoteRef:
        key: Postgres-Super-Password
      secretKey: POSTGRES_SUPER_PASS
    - remoteRef:
        key: Postgres-Backup-Access-Key-Id
      secretKey: POSTGRES_BACKUP_ACCESS_KEY_ID
    - remoteRef:
        key: Postgres-Backup-Access-Secret
      secretKey: POSTGRES_BACKUP_ACCESS_SECRET
  refreshInterval: "12h"
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-keyvault
  target:
    creationPolicy: Owner
    deletionPolicy: Delete
    name: cloudnative-pg-secret
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .POSTGRES_SUPER_USER }}"
        password: "{{ .POSTGRES_SUPER_PASS }}"
        backupAccessKeyId: "{{ .POSTGRES_BACKUP_ACCESS_KEY_ID }}"
        backupAccessSecret: "{{ .POSTGRES_BACKUP_ACCESS_SECRET }}"
      engineVersion: v2
