---
customization:
  systemExtensions:
    officialExtensions:
      - siderolabs/intel-ucode
      - siderolabs/iscsi-tools
      - siderolabs/nvidia-container-toolkit-lts
      - siderolabs/nonfree-kmod-nvidia-lts
      - siderolabs/util-linux-tools
