---
machine:
  certSANs:
    - 127.0.0.1
    - 10.0.30.30
    - 10.0.30.6
  install:
    # Using your custom NVIDIA/Intel schematic
    image: factory.talos.dev/installer/7114037f940580e18d06c4d469c1afc96f2ca33f087a08493daba2602b444a2c:v1.13.5
    diskSelector:
      wwid: "eui.0025388a81b3ccee"
    # Needed for NVIDIA GPU Gen 3+ support
    extraKernelArgs:
      - pcie_aspm=off
      - nvidia.NVreg_RegistryDwords="PowerMizerEnable=0x1; PerfLevelSrc=0x2222; PowerMizerDefaultAC=0x1"
  network:
    hostname: fleetcom-node4
    interfaces:
      - deviceSelector:
          hardwareAddr: "0c:9d:92:85:5e:56"
        addresses:
          - 10.0.30.6/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.30.1
        mtu: 9000
        dhcp: false
  kernel:
    modules:
      - name: nbd
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.grpc.v1.cri".registry]
          config_path = "/etc/cri/conf.d/hosts"
          max_concurrent_downloads = 10
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
        [plugins."io.containerd.cri.v1.runtime".containerd.runtimes.nvidia]
          runtime_type = "io.containerd.runc.v2"
          [plugins."io.containerd.cri.v1.runtime".containerd.runtimes.nvidia.options]
            BinaryName = "/usr/local/bin/nvidia-container-runtime"
  nodeLabels:
    node-role.kubernetes.io/worker: ""
    sku: gpu
    hardware-type: nvidia-gpu
    gpu-model: rtx2070
  kubelet:
    extraConfig:
      # Image Garbage Collection tuning for smaller NVMe
      imageGCHighThresholdPercent: 75
      imageGCLowThresholdPercent: 60
      imageMinimumGCAge: "5m"
      registerWithTaints:
        - key: sku
          value: gpu
          effect: NoSchedule
