---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app teleport
  namespace: flux-system
spec:
  dependsOn:
    - name: rook-ceph-cluster
    - name: external-secrets-azure
    - name: volsync
  path: ./kubernetes/apps/teleport/teleport/app
  prune: false # revert to true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 10Gi
