---
# yaml-language-server: $schema=https://frigate.unscfleet.com/api/config/schema.json
logger:
  default: info
  # logs:
  #   frigate.record: debug

mqtt:
  host: emqx.default.svc.cluster.local
  topic_prefix: frigate
  user: "{FRIGATE_MQTT_USER}"
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

detectors:
  coral:
    type: edgetpu
    device: usb

# Include all cameras by default in Birdseye view
birdseye:
  enabled: True
  mode: continuous

ffmpeg:
  global_args: ["-hide_banner", "-loglevel", "warning"]
  hwaccel_args: ["-hwaccel", "vaapi", "-hwaccel_device", "/dev/dri/renderD128", "-hwaccel_output_format", "yuv420p"]
  output_args:
    record: preset-record-generic

snapshots:
  enabled: true
  timestamp: false
  bounding_box: true
  retain:
    default: 7

record:
  enabled: true
  retain:
    days: 14
    mode: all
  events:
    retain:
      default: 2
      mode: active_objects

objects:
  track: ["person"]
  filters:
    person:
      min_area: 5000
      max_area: 100000
      min_score: 0.7
      threshold: 0.75

go2rtc:
  streams:
    frigate_livingroom_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.30:554/cam/realmonitor?channel=1&subtype=0
    frigate_livingroom_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.30:554/cam/realmonitor?channel=1&subtype=1
    frigate_leoroom_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.31:554/cam/realmonitor?channel=1&subtype=0
    frigate_leoroom_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.31:554/cam/realmonitor?channel=1&subtype=1
    frigate_garage_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.32:554/cam/realmonitor?channel=1&subtype=0
    frigate_garage_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.32:554/cam/realmonitor?channel=1&subtype=1
    frigate_frontporch_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.33:554/cam/realmonitor?channel=1&subtype=0
    frigate_frontporch_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.33:554/cam/realmonitor?channel=1&subtype=1
    frigate_backpatio_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.34:554/cam/realmonitor?channel=1&subtype=0
    frigate_backpatio_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.34:554/cam/realmonitor?channel=1&subtype=1
    frigate_backyard_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.35:554/cam/realmonitor?channel=1&subtype=0
    frigate_backyard_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.35:554/cam/realmonitor?channel=1&subtype=1
    frigate_eastside_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.36:554/cam/realmonitor?channel=1&subtype=0
    frigate_eastside_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.36:554/cam/realmonitor?channel=1&subtype=1
    frigate_driveway_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.37:554/cam/realmonitor?channel=1&subtype=0
    frigate_driveway_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.37:554/cam/realmonitor?channel=1&subtype=1
    frigate_office_hq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.38:554/cam/realmonitor?channel=1&subtype=0
    frigate_office_lq: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@10.0.20.38:554/cam/realmonitor?channel=1&subtype=1
    frigate_unifi_doorbell_hq: rtspx://10.0.10.8:7441/w4UzOd0saveEXQqN
    frigate_unifi_doorbell_mq: rtspx://10.0.10.8:7441/dMjvqI54GZceSviO
    frigate_unifi_doorbell_package: rtspx://10.0.10.8:7441/CSc5p7GY9hUIiI1X

cameras:

  Garage:
    birdseye:
      enabled: false
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_garage_lq
          roles: ["detect"]
        - path: rtsp://localhost:8554/frigate_garage_hq
          roles: ["record"]
    detect:
      width: 1280
      height: 960
      fps: 5
      stationary:
        threshold: 50

  Front_Porch:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_frontporch_lq
          roles: ["detect"]
        - path: rtsp://localhost:8554/frigate_frontporch_hq
          roles: ["record"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 50
    motion:
      mask: ["448,338,1051,179,1677,366,1772,0,0,0,0,861"]

  Back_Patio:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_backpatio_lq
          roles: ["detect"]
        - path: rtsp://localhost:8554/frigate_backpatio_hq
          roles: ["record"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 30
    motion:
      mask: ["739,119,1349,135,1821,352,2034,345,2034,0,0,0"]
    objects:
      track: ["person","cat"]

  Back_Yard:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_backyard_hq
          roles: ["detect"]
        - path: rtsp://localhost:8554/frigate_backyard_hq
          roles: ["record"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 30
    motion:
      mask: ["1962,460,2034,1296,2034,0,1460,0"]
    objects:
      filters:
        person:
          # To stop the table being triggered as a person in certain lighting
          mask: 193,875,385,629

  East_Side:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_eastside_lq
          roles: ["detect"]
        - path: rtsp://localhost:8554/frigate_eastside_hq
          roles: ["record"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 50
    motion:
      mask: ["2034,0,346,0,474,330,2034,499,2034,496"]

  Driveway:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_driveway_lq
          roles: ["detect"]
        - path: rtsp://localhost:8554/frigate_driveway_hq
          roles: ["record"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 50
    motion:
      mask: ["553,330,1241,377,1813,1296,2034,1296,2034,0,600,0,0,0,0,489"]

  Office:
    birdseye:
      enabled: false
    record:
      enabled: false
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_office_hq
          roles: ["detect"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 50
    # Detect something wild to hopefully never trigger
    objects:
      track: ["giraffe"]

  Living_Room:
    birdseye:
      enabled: false
    record:
      enabled: false
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_livingroom_hq
          roles: ["detect"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 50
    snapshots:
      enabled: true
      retain:
        default: 10
    # Detect something wild to hopefully never trigger
    objects:
      track: ["giraffe"]

  Leo_Room:
    birdseye:
      enabled: false
    # record:
    #   enabled: false
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_leoroom_hq
          roles: ["detect"]
    detect:
      width: 2034
      height: 1296
      fps: 10
      stationary:
        threshold: 50
    # Detect something wild to hopefully never trigger
    objects:
      track: ["giraffe"]

  Unifi_Doorbell:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_unifi_doorbell_mq
          roles: ["detect"]
        - path: rtsp://localhost:8554/frigate_unifi_doorbell_hq
          roles: ["record"]
    detect:
      width: 960
      height: 720
      fps: 10
      stationary:
        threshold: 50
    motion:
      mask: ["0,0,773,0,778,442,420,426,0,450"]
    objects:
      track: ["person"]

  Unifi_Doorbell_Package:
    birdseye:
      enabled: false
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/frigate_unifi_doorbell_package
          roles: ["detect"]
    detect:
      width: 1600
      height: 1200
      fps: 10
      stationary:
        threshold: 50
    # Detect something wild to hopefully never trigger
    objects:
      track: ["giraffe"]
