---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app comfyui
  namespace: ai
spec:
  targetNamespace: ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/ai/comfyui/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homeops
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
