---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cert-manager-secret
spec:
  refreshInterval: "12h"

  secretStoreRef:
    name: azure-store
    kind: ClusterSecretStore

  target:
    name: cert-manager-secret
    creationPolicy: Owner

  data:
    - secretKey: cf_api_token
      remoteRef:
        key: Cloudflare-Api-Token
