---
machine:
  install:
    diskSelector:
      wwid: "eui.6479a79f0ad000f0"
  network:
    hostname: fleetcom-node1
    interfaces:
      - deviceSelector:
          hardwareAddr: 58:47:ca:7a:b8:31
        addresses:
          - 10.0.30.11/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.0.30.1
        mtu: 1500
        dhcp: false
        vip:
          ip: 10.0.30.30
