---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  - ./downloads-pvc.yaml
  - ./media-pvc.yaml
  # Flux-Kustomizations
  - ./audiobookshelf/ks.yaml
  - ./bazarr/ks.yaml
  - ./discord/ks.yaml
  - ./emqx/ks.yaml
  - ./frigate/ks.yaml
  - ./guacamole/ks.yaml
  - ./home-assistant/ks.yaml
  - ./it-tools/ks.yaml
  - ./minio/ks.yaml
  - ./node-red/ks.yaml
  - ./open-webui/ks.yaml
  - ./overseerr/ks.yaml
  - ./plex/ks.yaml
  - ./prowlarr/ks.yaml
  - ./radarr/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./sonarr/ks.yaml
  - ./tautulli/ks.yaml
  - ./theme-park/ks.yaml
  - ./zigbee2mqtt/ks.yaml
  - ./zwave-js-ui/ks.yaml
