---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft-bedrock
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      minecraft:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/itzg/minecraft-bedrock-server
              tag: 2026.2.1@sha256:f081b6f19dc576518e71764fd80c8a4504ecb0381013e8ed7043c5a5a5fb3095
            envFrom:
              - configMapRef:
                  name: minecraft-bedrock-env
            resources:
              requests:
                cpu: 2
                memory: 4Gi
              limits:
                memory: 6Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: minecraft
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.0.30.37"
        ports:
          minecraft-bedrock:
            port: 19132
            targetPort: 19132
            protocol: UDP

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /data
      allowlist:
        type: configMap
        name: minecraft-bedrock-allowlist
        globalMounts:
          - path: /data/allowlist.json
            subPath: allowlist.json
            readOnly: true
      operators:
        type: configMap
        name: minecraft-bedrock-permissions
        globalMounts:
          - path: /data/permissions.json
            subPath: permissions.json
            readOnly: true
