apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kokoro-fastapi-gpu
  namespace: ai
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      kokoro:
        containers:
          app:
            image:
              repository: ghcr.io/remsky/kokoro-fastapi-gpu
              tag: latest
            env:
              TZ: America/New_York
            resources:
              requests:
                cpu: "500m"
                memory: 1Gi
              limits:
                memory: 1.5Gi
                nvidia.com/gpu: 1
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      nodeSelector:
        sku: "gpu"
    service:
      app:
        controller: kokoro
        ports:
          http:
            port: 8000
            targetPort: 8880
