---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cert-manager-secret
  namespace: cert-manager
spec:
  refreshInterval: "12h"

  secretStoreRef:
    name: azure-store
    kind: ClusterSecretStore

  target:
    name: cert-manager-secret
    creationPolicy: Owner
    deletionPolicy: Delete

  data:
    - secretKey: cf_api_token
      remoteRef:
        key: Cloudflare-Api-Token

    - secretKey: cf_api_email
      remoteRef:
        key: Cloudflare-Api-Email
