---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app goldilocks
spec:
  interval: 1h
  chart:
    spec:
      chart: goldilocks
      version: 10.2.0
      sourceRef:
        kind: HelmRepository
        name: *app
      interval: 1h
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    dashboard:
      enabled: true
      replicaCount: 2
    vpa:
      enabled: true
    controller:
      enabled: true
