---
version: v1alpha1
machine:
  type: controlplane
  # ca merges as a unit; crt must be repeated alongside key
  ca:
    crt: azkv://K8sHomeOpsKeyVault/Talos-Machine-CA-Crt
    key: azkv://K8sHomeOpsKeyVault/Talos-Machine-CA-Key
  features:
    kubernetesTalosAPIAccess:
      allowedKubernetesNamespaces:
        - system-upgrade
      allowedRoles:
        - os:admin
      enabled: true
  kernel:
    modules:
      - name: thunderbolt
      - name: thunderbolt_net

cluster:
  # ca merges as a unit; crt must be repeated alongside key
  ca:
    crt: azkv://K8sHomeOpsKeyVault/Talos-Cluster-CA-Crt
    key: azkv://K8sHomeOpsKeyVault/Talos-Cluster-CA-Key
  aggregatorCA:
    crt: azkv://K8sHomeOpsKeyVault/Talos-Cluster-AggregatorCA-Crt
    key: azkv://K8sHomeOpsKeyVault/Talos-Cluster-AggregatorCA-Key
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    certSANs:
      - 127.0.0.1
      - 10.0.30.30
    disablePodSecurityPolicy: true
    extraArgs:
      feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    # renovate: datasource=docker depName=registry.k8s.io/kube-apiserver
    image: registry.k8s.io/kube-apiserver:v1.36.4
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
    # renovate: datasource=docker depName=registry.k8s.io/kube-controller-manager
    image: registry.k8s.io/kube-controller-manager:v1.36.4
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 10.0.30.0/24
    ca:
      crt: azkv://K8sHomeOpsKeyVault/Talos-Cluster-Etcd-Crt
      key: azkv://K8sHomeOpsKeyVault/Talos-Cluster-Etcd-Key
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    # renovate: datasource=docker depName=registry.k8s.io/kube-proxy
    image: registry.k8s.io/kube-proxy:v1.36.4
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
    extraArgs:
      bind-address: 0.0.0.0
    # renovate: datasource=docker depName=registry.k8s.io/kube-scheduler
    image: registry.k8s.io/kube-scheduler:v1.36.4
  secretboxEncryptionSecret: azkv://K8sHomeOpsKeyVault/Talos-Cluster-SecretboxEncryptionSecret
  serviceAccount:
    key: azkv://K8sHomeOpsKeyVault/Talos-Cluster-ServiceAccount-Key
