---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/clusterexternalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: github-fleet-auth
spec:
  externalSecretSpec:
    data:
      - remoteRef:
          key: Github-UNSC-Fleet-Auth-Client-Id
        secretKey: client_id
      - remoteRef:
          key: Github-UNSC-Fleet-Auth-Client-Secret
        secretKey: client_secret
    refreshInterval: "12h"
    secretStoreRef:
      kind: ClusterSecretStore
      name: azure-keyvault
    target:
      creationPolicy: Owner
      name: github-fleet-auth-secret
      template:
        data:
          client-id: "{{ .client_id }}"
          client-secret: "{{ .client_secret }}"
        engineVersion: v2
  namespaceSelectors:
    - matchExpressions:
      - key: kubernetes.io/metadata.name
        operator: In
        values: ["default", "observability"]
