name: "Release"

on:
  workflow_dispatch:
  #schedule:
    # Run every Monday at 12:00am
  #  - cron: '0 0 * * 1'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          week_of_month=$((($(date +%-d)-1)/7+1))
          month=$(date +'%-m')
          tag=v$(date +'%Y.')"$month.$week_of_month"
          echo "Creating release $tag"
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="v${tag#v}" \
              --generate-notes
