apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app comfyui
  namespace: ai
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      comfyui:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          runtimeClassName: nvidia
          tolerations:
            - key: sku
              operator: Equal
              value: gpu
              effect: NoSchedule
          nodeSelector:
            nvidia.com/gpu.present: "true"
        containers:
          app:
            image:
              repository: ghcr.io/ai-dock/comfyui
              tag: v2-cuda-12.1.1-base-22.04-v0.2.7@sha256:ca4c95d4d4743d7d5683e57f5e0358fe586bc57578f66c2a844e9fa0650cc619
            env:
              AUTO_UPDATE: "false"
              DIRECT_ADDRESS_GET_WAN: "true"
              SERVICEPORTAL_URL: "comfyui.unscfleet.com"
              WEB_ENABLE_AUTH: "false"
              WORKSPACE: "/workspace"
              CF_QUICK_TUNNELS: "false"
              SERVERLESS: "false"
              PROVISIONING_SCRIPT: "https://raw.githubusercontent.com/ai-dock/comfyui/main/config/provisioning/flux.sh"
            securityContext:
              privileged: true
            resources:
              requests:
                nvidia.com/gpu: 1
                cpu: 500m
                memory: 4Gi
              limits:
                memory: 6Gi
                nvidia.com/gpu: 1

    service:
      app:
        controller: comfyui
        ports:
          http:
            port: &httpPort 8188

    route:
      main:
        hostnames:
          - "{{ .Release.Name }}.unscfleet.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *httpPort

    persistence:
      workspace:
        enabled: true
        existingClaim: comfyui-openebs-pvc
        globalMounts:
          - path: /workspace

      output:
        enabled: true
        existingClaim: comfyui-openebs-pvc
        globalMounts:
          - path: /workspace/ComfyUI/output

      # config:
      #   type: configMap
      #   name: comfyui-configmap
      #   advancedMounts:
      #     comfyui:
      #       app:
      #         - path: /workspace/ComfyUI/custom_nodes/ComfyUI-Manager/config.ini
      #           subPath: config.ini
      #           readOnly: true