---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-fleet-auth
spec:
  data:
    - remoteRef:
        key: Github-UNSC-Fleet-Auth-Client-Id
      secretKey: client_id
    - remoteRef:
        key: Github-UNSC-Fleet-Auth-Client-Secret
      secretKey: client_secret
    - remoteRef:
        key: OpenWebUI-Secret-Key
      secretKey: webui_secret_key
    - secretKey: google_gemini_key
      remoteRef:
        key: Google-Gemini-API-HomeOps-Key
  refreshInterval: "12h"
  secretStoreRef:
    kind: ClusterSecretStore
    name: azure-keyvault
  target:
    creationPolicy: Owner
    name: github-fleet-auth-secret
    template:
      data:
        GITHUB_CLIENT_ID: "{{ .client_id }}"
        GITHUB_CLIENT_SECRET: "{{ .client_secret }}"
        WEBUI_SECRET_KEY: "{{ .webui_secret_key }}"
        OPENAI_API_KEY: "{{ .google_gemini_key }}"
      engineVersion: v2
