---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.6.43
            env:
              ENABLE_API_KEY: "True"
              ENABLE_RAG_LOCAL_WEB_FETCH: true
              ENABLE_SIGNUP: "False"
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: true
              OLLAMA_BASE_URL: "http://ollama.ai.svc.cluster.local:11434"
              RAG_EMBEDDING_ENGINE: "ollama"
              RAG_EMBEDDING_MODEL: "nomic-embed-text"
              TZ: "America/New_York"
              WEBUI_AUTH: "True"
              WEBUI_URL: "https://ai.unscfleet.com"
            envFrom:
              - secretRef:
                  name: github-fleet-auth-secret
            resources:
              requests:
                cpu: 1
                memory: 500Mi
              limits:
                cpu: 2
                memory: 4Gi

    service:
      app:
        ports:
          http:
            port: 8080

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: external
        hostnames:
          - "ai.unscfleet.com"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/backend/data
